<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white rounded-lg overflow-hidden shadow-xl w-full sm:max-w-md">
    <div class="bg-gray-800 px-6 py-4 flex justify-between items-center">
      <h2 class="text-lg font-semibold text-white">Delete Blog ?</h2>
      <button type="button" class="close text-white" aria-label="Close"  (click)="onDelete(false)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="bg-gray-100 px-4 py-3 flex justify-end">
      <button type="button" class="mr-2 px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" (click)="onDelete(false)">Close</button>
      <button type="button" class="px-4 py-2 text-sm font-medium text-white bg-blue-500 border border-transparent rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" (click)="onDelete(true)">Delete</button>
    </div>
  </div>
</div>
